body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #e3dacb;
  color: #333333;
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 16px;
  background-color: #b7cde3; /* azul claro suave */
  color: #4a4a4a;
  border: 1px solid #4a4a4a; /* borda combinando com a cor do texto */
  font-size: 16px;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-button:hover {
  background-color: #849fb9;
  color: #ffffff; /* texto branco no hover pra contraste */
}

.login-button {
  margin-top: 20px;
  width: 30%;
  padding: 10px 16px;
  background-color: #b7cde3;
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #849fb9;
  color: #ffffff;
}

.login-box {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #444444;
}

.login-box label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  margin-top: 15px;
  font-weight: 600;
  color: #666666;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #333333;
}

.login-box input::placeholder {
  color: #999999;
}

.register-link {
  margin-top: 15px;
  color: #777777;
  font-size: 14px;
}

.register-link a {
  color: #6d94b4;
  text-decoration: none;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
}

h2 {
  margin-bottom: 20px;
  color: #444444;
  font-family: 'Poppins', sans-serif;

}
