.perfil-container {
  background-color: #e3dacb;
  font-family: 'Segoe UI', sans-serif;
  color: #333333;
  min-height: 100vh;
  padding: 40px 60px;
  box-sizing: border-box;
}

.titulo {
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.perfil-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dcdcdc;
  padding: 30px;
  border-radius: 16px;
  max-width: 400px;
  margin: 0 auto 40px auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.foto-perfil {
  color: #4a4a4a;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.profile-placeholder {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.dados-perfil {
  width: 100%;
}

.dados-perfil label {
  font-weight: bold;
}

.dados-perfil input {
  width: 100%;
  padding: 8px;
  margin: 5px 0 20px 0;
  border: 1px solid #b7cde3;
  border-radius: 8px;
}

.acoes-perfil {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.botao-perfil {
  padding: 4px 12px; /* Ajustando o padding horizontal */
  background-color: #b7cde3;
  border: 1px solid #4a4a4a;
  border-radius: 8px; /* Menos arredondado */
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
  display: inline-block;
  font-size: 14px;
  height: 30px; /* Altura fixa */
  line-height: 30px; /* Alinha o texto verticalmente */
  text-align: center; /* Centraliza o texto horizontalmente */
}

.botao-perfil:hover {
  background-color: #849fb9;
  color: white;
}

.botao-perfil.cancelar {
  background-color: #849fb9;
}

.botao-perfil.deletar {
  background-color: #ff7b7b;
}
