.titulo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0;
}

.perfil-container {
  flex: 1;
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.foto-perfil {
  width: 80px;
  height: 80px;
  background-color: #999;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto-texto {
  font-size: 10px;
  text-align: center;
  line-height: 1.2;
}

.nome-container {
  text-align: center;
  margin-bottom: 20px;
}

.nome {
  font-weight: bold;
  font-size: 18px;
}

.sobrenome {
  font-size: 14px;
}

.dados-pessoais {
  font-size: 14px;
  line-height: 1.6;
}

.editar-btn {
  position: center;
  bottom: 15px;
  right: 15px;
  background-color: #999;
  color: #000;
  border: none;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
}

.continuar-inscricao {
  text-align: center;
  margin-top: 30px;
}

.continuar-titulo {
  font-size: 20px;
  margin-bottom: 20px;
}

.botoes-inscricao {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Botões de perfil e cancelar com texto centralizado */
.botao-perfil,
.botao-perfil-cancelar {
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  white-space: nowrap;
  text-align: center;
}

.botao-perfil-cancelar {
  background-color: #999;
  color: #000;
}

.botao-voltar {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 12px 20px;
  background-color: #b7cde3;
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none; 
}

.botao-voltar:hover {
  background-color: #849fb9;
  color: #ffffff;
}
